/* sideQUEST */
	
ul.gdd {text-align:center;
	list-style:none;
	padding:0px;
	margin:0px;}
	
.gdd li {font-weight:bold;
	display:inline-block;
	cursor:pointer;
	padding:3px 5px;}
	
/* Applications */

.login-prompt {width:400px;
	height:100%;
	padding:20px;
	margin:0 auto;}
	
.login-suc {width:610px;
	height:100%;
	background:url(images/trans-bg.png) repeat-x;
	position:absolute;}
	
.login-suc div {width:300px;
	background:#FFFFFF;
	text-align:center;
	padding:30px;
	border:1px solid #666666;
	margin:100px auto 0px auto;
	outline:10px solid #FFFFFF;}
	
table.form {width:400px;}

.form td {padding:5px 0px;}

.form input {margin:5px 0px;}

.tasklist {width:250px;
	min-height:300px;
	padding:10px;
	margin:50px auto;
	border:1px solid #000000;}
	
.tasklist th, .tasklist td {padding:10px 0px 10px 10px;}

td.taskname {background:url(login/apps/images/start-screen/active.png) no-repeat;
	background-position:0px 16px;}
	
/* Accordion Menu */

.expand h4 {font-style:italic;
	padding:5px 0px;
	margin:0px;}
		
.expand h4:hover {cursor:pointer;}

.expand div, .expand.hide h4 {border-bottom:1px solid #000370;}
		
.expand.hide div {display:none;}