
<div id="arrows" class="arrows">
    <div class="aTop">
        <img src="game/images/navigation/arrow-top.png" id="atop" data-arrow="up" alt="^" />
    </div>
    <div class="aRight">
        <img src="game/images/navigation/arrow-right.png" id="aright" data-arrow="right" alt=">" />
    </div>
    <div class="aBottom">
        <img src="game/images/navigation/arrow-bottom.png" id="abottom" data-arrow="down" alt="<" />
    </div>
    <div class="aLeft">
         <img src="game/images/navigation/arrow-left.png" id="aleft" data-arrow="left" alt="v" />
    </div>
</div>