
    <!--<div id="task-start" class="hide">
		<div>
			<div class="task-box">
			<span style="font-family:Verdana, Geneva, sans-serif; font-size:14px; font-weight:bold; line-height:20px;">TASK: "<span id="starttask"></span>" HAS BEEN ADDED.</span>
			</div>
			<div class="start-ans">
				<div style="cursor:pointer; padding-left:10px;" onclick="screenExit('task');">
				<img src="game/images/screen/ok.png" alt="OK" />
				</div>
			</div>
		</div>
	</div> -->  
	
	<div id="start-screen" class="start-screen">
		<div id="sslogo" style="width:100%; background:none; padding:0px;">
            <img src="game/images/screen/logo.png" alt="sideQUEST" />
        </div>
		<div id="ssng" class="screen-text btn" data-screen="start">
            NEW GAME
        </div>
		<!--<div id="ssctn" style="cursor:pointer; display:none;" onclick="startGame();"><img src="game/images/screen/continue.png" alt="CONTINUE" /></div>-->
	</div>